.container{
    display: grid;
    grid-template-columns: 74px 74px 74px;
    grid-template-rows: 74px 74px 74px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-110px;
    margin-top:-110px;
}

.container > span{
    width:70px;
    height:70px;
}
#box1{
    background-color: blue;
}
#box2{
    background-color: aqua;
}
#box3{
    background-color: blueviolet;
}
#box4{
    background-color: aquamarine;
}
#box5{
    background-color: black;
}
#box6{
    background-color: brown;
}
#box7{
    background-color: darkorange;
}
#box8{
    background-color: darkgreen;
}
#box9{
    background-color: fuchsia;
}